# =========================
# Git ignore for GPUDBMentalBenchmark
# =========================

# Ignore all datasets and large files
GPUDBMentalBenchmark/Data/SF-1/
*.tbl

GPUDBMentalBenchmark/Data/SF-10/
*.tbl


# macOS + Xcode temp files
.DS_Store
*/xcuserdata/
DerivedData/
